*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    height:100vh;
    font-family:Arial, sans-serif;
    background-color:#f5f7fa;
}

.container{
    display:flex;
    height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:300px;
    background-color:#1f2937;
    color:white;

    display:flex;
    flex-direction:column;
}

.logo{
    padding:20px;
    font-size:24px;
    font-weight:bold;
    text-align:center;
    border-bottom:1px solid #374151;
}

.search-container{
    padding:15px;
}

.search-container input{
    width:100%;
    padding:10px;

    border:none;
    border-radius:8px;

    background:#374151;
    color:white;
}

.search-container input::placeholder{
    color:#d1d5db;
}

.contact-list{
    flex:1;
}

.contact-card{
    padding:15px;
    border-bottom:1px solid #374151;
    cursor:pointer;
    transition:0.2s;
}

.contact-card:hover{
    background-color:#374151;
}

/* CHAT AREA */

.chatarea{
    flex:1;

    display:flex;
    flex-direction:column;

    background-color:#eef2f7;
}

.chat-header{
    padding:20px;
    background:white;

    border-bottom:1px solid #d1d5db;

    font-weight:bold;
    font-size:18px;
}

/* MESSAGES */

.message-area{
    flex:1;

    padding:20px;

    display:flex;
    flex-direction:column;

    gap:12px;

    overflow-y:auto;
}

.message{
    padding:10px 15px;

    border-radius:12px;

    max-width:60%;

    box-shadow:0 2px 6px rgba(0,0,0,0.08);
}

.received{
    background:white;
    align-self:flex-start;
}

.sent{
    background:#2563eb;
    color:white;
    align-self:flex-end;
}

.message small{
    display:block;
    margin-top:5px;
    font-size:10px;
    opacity:0.8;
}

/* INPUT AREA */

.input-area{
    padding:15px;

    background:white;
    border-top:1px solid #d1d5db;

    display:flex;
    gap:10px;
}

.input-area input{
    flex:1;

    padding:12px;

    border:1px solid #d1d5db;
    border-radius:8px;

    outline:none;
}

.input-area input:focus{
    border-color:#2563eb;
}

.input-area button{
    padding:12px 20px;

    border:none;
    border-radius:8px;

    background:#2563eb;
    color:white;

    cursor:pointer;
}

.input-area button:hover{
    background:#1d4ed8;
}

/* RESPONSIVE */

@media (max-width:768px){

    .sidebar{
        display:none;
    }

    .chatarea{
        width:100%;
    }

}